body {
  margin: 0;
  background-color: #fafafa;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerComponent {
  display: flex;
  height: 60px;
  padding: 15px;
  margin: 0 0 42px 0;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #712bda, #a45deb 100%);
}

.homepageApp {
  position: relative;
  background-image: linear-gradient(#712bda, #a45deb 100%);
}

.listMusicApp {
  background-color: #f8fafc;
}
